[submodule "tools/pishrink"]
	path = tools/pishrink
	url = https://github.com/Drewsif/PiShrink.git
[submodule "tools/pi-gen-yrl"]
	path = tools/pi-gen-yrl
	url = https://github.com/yorkrobotlab/pi-gen.git
[submodule "tools/epuck_ros2"]
	path = tools/epuck_ros2
	url = https://github.com/cyberbotics/epuck_ros2.git
[submodule "tools/pi-puck-yrl"]
	path = tools/pi-puck-yrl
	url = https://github.com/yorkrobotlab/pi-puck.git
[submodule "tools/pi-puck-ros2-examples"]
	path = tools/pi-puck-ros2-examples
	url = https://github.com/lucas-d87u/Pi_Puck-ROS2-Code-Examples.git
[submodule "tools/luma-examples"]
	path = tools/luma-examples
	url = https://github.com/rm-hull/luma.examples.git
[submodule "tools/packer-plugin-arm-image"]
	path = tools/packer-plugin-arm-image
	url = https://github.com/solo-io/packer-plugin-arm-image.git
