[Unit]
Description=Set the hostname of the system using the UUID
After=default.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/hostname_set

[Install]
WantedBy=default.target
