[Unit]
Description=Display the hostname on the LCD display
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/oledstatus

[Install]
WantedBy=multi-user.target
