[Unit]
Description=Display the hostname on the LCD display
After=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/oledstatus

[Install]
WantedBy=network-online.target
